.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-image: url("./public/assets/wk.webp");
  background-size: cover;
  background-position: center;
  color: rgba(237, 16, 16, 0.536);
}
