.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgb(224, 224, 224);
  color: white;
}

button {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: #333;
}